#main_fonts{
    display: flex;
}
#cont_font{
    flex-grow: 1;
    min-width: 300px;
    margin: 0 10px 0 0;
    max-width: 50%;
}
#cont_action{
    flex-grow: 1;
    min-width: 300px;
    margin: 0 0 0 10px;
    max-width: 50%;
    margin-top: 30px;
}
#response_font{
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    max-height: 70vh;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
    font-size: 14px;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#response_font .list-group-item{
    cursor: pointer;
}
#response_font .list-group-item:hover{
    transform: scale(1.05);
}

.list-group-item .chk_font{
    display: none;
}


.preview_font{
    transition: opacity 0.3s ease-in-out;
}

#response_font .preview_font{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#cont_action .preview_font{
    opacity: 1;
}
#response_action{
    max-height: 70vh;
    overflow: auto;
}
.remove_font{
    display: inline-block;
}
.lbl_weight{
    display: inline-block;
    margin: 3px;
}
.chk_weight[type=checkbox]{
    display: none;
}
.chk_weight:checked+span {
    border-bottom: 2px solid #2271b1;
    color: #2271b1;
}

.lbl_weight span:hover {
    color: #2271b1;
}

#response_action .list-group-item{
    display: flex;
    align-items: center;
    margin: 5px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
#response_action .list-group-item div:first-child{
    flex: 1 0 0;
}

#response_action .preview_font{
    float: none;
}
.btn_view_grid,.btn_view_list{
    float: right;
    margin: 0 5px;
    cursor: pointer;
}
.btn_view_list{
    display: none;
}
#cont_fontclass{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    color: #6c6c6c;
}
#categfont{
    vertical-align: bottom;
}
.loadingfont{
    text-align: center;
}
.btn_chiaroscuro{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 3px;
    background-color: #222222;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
}


.btn_chiaroscuro:hover,
.btn_chiaroscuro.dark{
    background-color: #fff;
    color: #222222;
    border: 1px solid #222222;
}

.btn_chiaroscuro.dark:hover,
.dark .list-group-item{
    background-color: #222222;
    color: #fff;
}